#HeadingBar{
    height:100px;
    width:100%;
    background-color:darkcyan;
    border: 2px,solid;
    margin-bottom:5px;
}

#Title{
    width:inherit;
    height:inherit;
    font-size:50px;
    font-family:David;
    text-align:center;
    padding-top:28px;

}

#Content{
    float:left;
    width:80%;
    height:auto;
}

#LeftBar{
    float:left;
    height:1000px;
    width:8%;
    background-color:darkcyan;
    margin-right:2%;
}
#RightBar{
    float:left;
    height:1000px;
    width:8%;
    background-color:darkcyan;
    margin-left:2%;
}
